* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

header::after {
    content:'';
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-image: url(/bg.jpg);
    background-size: cover;
    background-position: center;
    z-index: -2;
    filter: blur(15px);
}

header{
    position: relative;
    /* overflow-y: hidden; */
}

.form-container {
    max-width: 800px;
    height: auto;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, 50%);
    
    display: grid;
    grid-template-columns: repeat(2,1fr);
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px auto;

}

.left {
    background-image: url(/bg.jpg);
    height: 100%;
    background-position: center;
    background-size: cover;
}

.right {
    background-color: whitesmoke;
    padding: 10px;
}

.right h2 {
    margin: 15px auto;
}
.field {
    width: 90%;
    margin: 6px 10px;
    padding: 4px;
    background-color: rgb(235, 235, 235);
    border: none;
    outline: none;

}

.btn{
    width: 90%;
    margin: 2px 10px;
    padding: 4px;
    margin-bottom: 15px;
    background-color: rgb(235, 171, 53);
    color: whitesmoke;
    border-radius: 8px;
    cursor: pointer;
    outline: none;
    border: 1px solid rgb(235, 171, 53);
}
.btn:hover {
    background-color: transparent;
    color: rgb(235, 171, 53);
    outline: none;
    border: 1px solid rgb(235, 171, 53);
}
.field:hover, .field:active {
    background-color: rgb(243, 243, 243);
    outline: 1px solid grey;
}

@media (max-width: 850px) {

    .form-container {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: 1fr 2fr;
        transform: translate(-50%, 15%);
    }

    h2 {
        font-size: 16px;
    }
}